<div class="container-sm w-75 mx-auto py-4">
    <div id="mountainsStarsCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner rounded">
            <div class="carousel-item active">
                <img src="https://images.pexels.com/photos/18546269/pexels-photo-18546269.jpeg"
                    class="d-block w-100 img-fluid" alt="Vía Láctea sobre montañas" />
                <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-25 rounded px-2">
                    <h5>Sobre Montañas</h5>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg"
                    class="d-block w-100 img-fluid" alt="Noche estrellada en las montañas" />
                <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-25 rounded px-2">
                    <h5>Sobre Montañas</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mountainsStarsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mountainsStarsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>
